<!doctype html>
<html>
<head data-username='{{username}}'>
    <title>Node chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/design.css">
</head>
<body>
    <header>
        NodeJS Chat
    </header>
    <div class="center">
        <div id="chat">
            <ul id="messages"></ul>

            <form id="msg-form" action="">
                    <input id="msg" autocomplete="off" placeholder="Write message..."/>
                    <span id="send" class="fa-stack fa-1.5x">
                        <i class="fa fa-location-arrow"></i>
                    </span>
            </form>
        </div>
    </div>

    <div class="top-right">
        <span>Hello {{username}}!</span>
        <a href="/user/logout">(Logout)</a>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>
