* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
}

.form-control:focus {
	box-shadow: none;
}

#register,
#login {
	padding-top: 80px;
}

#chat {
	padding: 1%;
	width: 100%;
	height: 480px;
	border-radius: 5px;
	border: 1px solid #555;
	display: flex;
	flex-direction: column;
}

#messages {
	height: 450px;
	width: 100%;
	list-style-type: none;
	overflow: auto;
	flex: 1;
}

#messages li {
	margin-top: 5px;
	min-height: 30px;
}

#messages li div {
	padding: 5px;
	min-width: 100px;
	max-width: 300px;
	color: white;
	background: purple;
	border-radius: 5px;
	display: inline-block;
}

#messages li.broadcast div,
#messages li.system div {
	background: grey !important;
}

#messages li.own {
	text-align: right;
}

.msg-text {
	text-align: left;
}

#messages li.own div {
	background: green !important;
}

#messages li span {
	display: block;
}

#messages li span.msg-time {
	margin-left: 10px;
	color: lightgrey;
	text-align: right;
}

#messages li span.msg-user {
	font-weight: bold;
	text-align: left;
}
