* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    margin-top: 5px;
    min-height: 30px;
}

#messages li div {
    padding: 5px;
    min-width: 100px;
    max-width: 300px;
    color: white;
    background: purple;
    border-radius: 5px;
    display: inline-block;
}

#messages li.broadcast div,
#messages li.system div {
    background: grey !important;
}

#messages li.own {
    text-align: right;
}

.msg-text {
    text-align: left;
}

#messages li.own div {
    background: green !important;
}

#messages li span {
    display: block;
}

#messages li span.msg-time {
    margin-left: 10px;
    color: lightgrey;
    text-align: right;
}
